{% extends 'base.html.twig' %}

{% block title %}Espace Administrateur{% endblock %}

{% block body %}
<div class="container" style="margin-top: 50px;">
    <h1>Le Dashboard Secret de l'Admin 🔐</h1>
    <p>Si tu vois cette page, c'est que tu es connecté avec le compte Administrateur !</p>
</div>
{% endblock %}